@tailwind base;
@tailwind components;
@tailwind utilities;
@supports not (overflow-wrap: anywhere) {
    .break-anywhere {
        word-break: break-word;
    }
}

@supports (overflow-wrap: anywhere) {
    .break-anywhere {
        overflow-wrap: anywhere;
    }
}

.animation-paused {
    animation-play-state: paused;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(231 231 232);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(207 239 255);
}
